---
layout: mommy
---

<div class="domme">
	<div class="bratty-sub">
		<p>Je suis Leslie Astier, artiste expérimentant des formes ludiques. Je co-écris des protocoles d'interaction pour provoquer des échanges, des rencontres et des créations interactives dans des environnements imprégnés de numérique.</p>
	</div>

	<a href="./jouer" class="subby category">
		<div class="myImage" id="play"></div>
		<h2>JOUER</h2>
	</a>
	<div class="subby">
		<a href="./jouer/celleux-qui-respirent" class="subby category">
		<img src="./img/celleux6.jpg" class="myMiniature">
		<h2>Celleux qui respirent dans la nuit</h2>
	</a>
	</div>
	<a href="./concevoir" class="subby category">
		<div class="myImage" id="concept"></div>
		<h2>CONCEVOIR</h2>
	</a>
	<div class="subby">
	<a href="./concevoir/jouer-autrement" class="subby category">
		<img src="./img/autrement1.jpg" class="myMiniature">
		<h2>Jouer autrement</h2>
	</a></div>

	<a href="./experimenter" class="subby category">
		<div class="myImage" id="experiment"></div>
		<h2>EXPÉRI- <br>MENTER</h2>
	</a>
	<div class="subby">
		<a href="./experimenter/desir-deviations" class="subby category">
		<img src="./img/deviation1.JPG" class="myMiniature">
		<h2>Déviations//Désir</h2>
	</a>>
	</div>
</div>
